+++
title = "Cabernet"
linkTitle = "Cabernet"
+++

{{<blocks/cover title="" image_anchor="top" height="full" color="green" >}}
<div class="row align-items-center mt-1 pt-1">
  <div class="col-lg-6">
      <img alt="Cabernet" src="/images/logowhite.png" />
    <div class="display-3">The Cable Network</div>
  </div>
  <div class="col-lg-6 mt-5 mt-lg-3 d-sm-block">
    <img alt="Screenshot of Cabernet" width="500" src="/images/cabernet_screen.png" />
  </div>
</div>

<div class="mx-auto">
	<p class="lead mt-5"><b>Cabernet allows you to be in control of the IPTV streams.
    Elegant yet loaded with functionality, Cabernet is the future of streaming services.</b>
    </p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/download" >}}">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<img alt="Cabernet" src="/images/cabernet_flow.png" />
<div>Connect streams to your favorite media server. Cabernet is a modular-based 
appliance/platform that cleans, organizes and repackages IPTV streams to be compatible and 
digested by media clients.</div>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-user-friends" title="Clients" url="https://github.com/google/docsy-example" %}}
M3U and HDHomerun interfaces integrate with media servers.  Tested clients include:
<ul style="text-align: left;">
<li>TVheadend</li>
<li>Emby</li>
<li>Jellyfin</li>
<li>Plex</li>
<li>VLC</li>
</ul>
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-globe" title="Providers" url="https://github.com/google/docsy-example" %}}
Plugins provide multiple instantiations to streaming and EPG providers allowing flexibility and growth.
<ul style="text-align: left;">
<li>Locast</li>
</ul>
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fas fa-sliders-h" title="EPG Management" %}}
<div style="text-align: left;">
<ul>
<li>Merges xmltv data</li>
<li>Automatic XMLTV/EPG updates</li>
</ul>
</div>
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-solid fa-compass" title="Channel Management" %}}
<div style="text-align: left;">
<ul>
<li>Merges M3U data</li>
<li>Channel filtering</li>
<li>Renaming Channel number and name</li>
<li>Adding Channel categories/groups</li>
<li>Updating Channel icons/logos</li>
<li>Automatic channel updates</li>
</ul>
</div>
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-broadcast-tower" title="Streaming" %}}
<div style="text-align: left;">
<ul>
<li>Support for M3U8 using FFMPEG or Internal</li>
<li>Support for M3U direct proxy with media server</li>
<li>ATSC correcting software for corrupted streams</li>
<li>Adjustable and Extensible number of tuners using multiple instances</li>
<li>Stream filtering</li>
</ul>
</div>
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-puzzle-piece" title="General" %}}
<div style="text-align: left;">
<ul>
<li>Backup and restore</li>
<li>Simple python deployment (3.7 or greater)</li>
<li>Limited use of external libraries</li>
</ul>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}




